
table{
    width: 30%;
    margin: auto;
    margin-top: 50px;
}
tr{
    width: 100%;
}
td{
    width: 33.3333333%;
    height: 100px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}